html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #424E5C;
    padding: 1%;
    text-align: center;
    border-bottom: 7px solid #FF3F10;
}

.main {
    width: ;
    100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.content {
    background: #D7DDE6;
    order: 0;
    text-align: left;
    flex: 8 1 auto;
    align-self: auto;
}

.sidenav {
    height: 100%;
    float:right;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #424E5C;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border-right: 2px solid #FF3F10;
    color: whitesmoke;
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

section {
    margin: 8%;
}

footer {
    width: 99.83%;
    background: #424E5C;
    padding: 1px;
    font-size: 16px;
    text-align: center;
    border-top: 7px solid #FF3F10;
    color: white;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    color: white;
}

h2 {
    color: white;
    font-style: italic;
}

h3 {
    color: #3c3c3c;
    width: 50%;
    border-bottom: 2px dashed #c2e6e6;
    margin-bottom: 1%;
}

#playVid1,
#playVid2,
#playVid3,
#stopVid1,
#stopVid2,
#stopVid3 {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-width: 3px;
}


/* blue button */

#playVid1,
#playVid2,
#playVid3 {
    background-color: #699DB6;
    border-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    color: #FFF;
}

#playVid1:hover {
    background-color: #4F87A2;
    border-color: rgba(0, 0, 0, 0.5);
}

#playVid1:active {
    background-color: #3C677B;
    border-color: rgba(0, 0, 0, 0.9);
}

#playVid2:hover {
    background-color: #4F87A2;
    border-color: rgba(0, 0, 0, 0.5);
}

#playVid2:active {
    background-color: #3C677B;
    border-color: rgba(0, 0, 0, 0.9);
}

#playVid3:hover {
    background-color: #4F87A2;
    border-color: rgba(0, 0, 0, 0.5);
}

#playVid3:active {
    background-color: #3C677B;
    border-color: rgba(0, 0, 0, 0.9);
}


/* red button */

#stopVid1,
#stopVid2,
#stopVid3 {
    background-color: #E48681;
    border-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    color: #FFF;
}

#stopVid1:hover {
    background-color: #DA4F49;
    border-color: rgba(0, 0, 0, 0.5);
}

#stopVid1:active {
    background-color: #B32C24;
    border-color: rgba(0, 0, 0, 0.9);
}

#stopVid2:hover {
    background-color: #DA4F49;
    border-color: rgba(0, 0, 0, 0.5);
}

#stopVid2:active {
    background-color: #B32C24;
    border-color: rgba(0, 0, 0, 0.9);
}

#stopVid3:hover {
    background-color: #DA4F49;
    border-color: rgba(0, 0, 0, 0.5);
}

#stopVid3:active {
    background-color: #B32C24;
    border-color: rgba(0, 0, 0, 0.9);
}

#menu {
    align-content: center;
    margin-left: 10px;
    font-size: 30px;
    cursor: pointer
}
